<div class="myFormBody">
    <div class="myformContainer">
        <label style="text-align: center; font-size: x-large">Add New Airline</label>
        <h4 *ngIf="isAdded" style="color: green; font-weight: bolder; font-size: larger; padding: 8px;">New Flight
            Successfully Added</h4>
        <h4 *ngIf="!!errorText" style="color: red; padding: 5px; font-size: larger; font-weight: bold;">{{errorText}}
        </h4>
   
<!-- Horizontal material form -->
<form [formGroup]="addAirlineForm" (ngSubmit)="submitAddFlight()">
    <div style="margin-top: 10px;">
  <!-- Grid row -->
  <div class="form-group row">
    <!-- Material input -->
    <label for="inputAirLine" class="col-sm-2 col-form-label">AirLine Name</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input mdbInput class="form-control" formControlName="name" placeholder="Enter Airline Name">
      </div>
    </div>
  </div>
  <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-group row">
        <!-- Material input -->
        <label for="inputContactNumber" class="col-sm-2 col-form-label">Contact Number</label>
        <div class="col-sm-10">
          <div class="md-form mt-0">
            <input mdbInput class="form-control" formControlName="contactNumber" placeholder="Enter Contact Number">
          </div>
        </div>
      </div>
      <!-- Grid row -->

          <!-- Grid row -->
    <div class="form-group row">
        <!-- Material input -->
        <label for="inputAddress" class="col-sm-2 col-form-label">Contact Address</label>
        <div class="col-sm-10">
          <div class="md-form mt-0">
            <input mdbInput class="form-control" formControlName="contactAddress" placeholder="Enter Contact Address">
          </div>
        </div>
      </div>
      <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" mdbBtn color="primary" [disabled]="addAirlineForm.invalid">Submit</button>
      <button id="reset_button" type="reset" mdbBtn color="primary">Reset</button>
    </div>
  </div>
  </div>
  <!-- Grid row -->
</form>

    </div>
</div>