<div *ngIf="flag" class="myFormBody">
    <div class="myformContainer">
        <label style="text-align: center; font-size: x-large">Find your Flight</label>
        <form [formGroup]="flightSearchForm" (ngSubmit)="search()">
            <div style="margin-top: 10px;">

                <div class="form-group row">

                    <label for="inputPlace" class="col-sm-2 col-form-label">Source</label>
                    <div class="col-sm-10">
                        <div class="md-form mt-0">
                            <!-- <input mdbInput class="form-control" formControlName="startPlace"
                                placeholder="Enter your starting place"> -->
                          <select class="browser-default custom-select" formControlName="startPlace">
                                    <option value="" selected disabled>Choose your start place</option>
                                    <option *ngFor="let airport of airportList" [ngValue]="airport.airportName">
                                        {{airport.airportName}}, {{airport.airportLocation}}
                                    </option>
                                </select>                                      
                        </div>
                    </div>
                </div>



                <div class="form-group row">

                    <label for="inputPlace" class="col-sm-2 col-form-label">Destination</label>
                    <div class="col-sm-10">
                        <div class="md-form mt-0">
                            <!-- <input mdbInput class="form-control" formControlName="endPlace"
                                placeholder="Enter your destination"> -->
                                <select class="browser-default custom-select" formControlName="endPlace">
                                    <option value="" selected disabled>Choose your destination</option>
                                    <option *ngFor="let airport of airportList" [ngValue]="airport.airportName">
                                        {{airport.airportName}}, {{airport.airportLocation}}
                                    </option>
                                </select>                                
                        </div>
                    </div>
                </div>



                <div class="form-group row">

                    <label for="inputDate" class="col-sm-2 col-form-label">Contact Address</label>
                    <div class="col-sm-10">
                        <div class="md-form mt-0">
                            <input type="date" mdbInput class="form-control" formControlName="journeyDate"
                                placeholder="Journey Start Date">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" mdbBtn color="primary"
                            [disabled]="flightSearchForm.invalid">Submit</button>
                        <button id="reset_button" type="reset" mdbBtn color="primary">Reset</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


  <div class="myFormBody">
    <div class="myformContainer">
        <table [dataSource]="response" class="table table-responsive table-bordered bordered-primary" style="table-layout: auto;" *ngIf="response.length>0">

            <thead>
                <tr style="font-size: small; font-weight: bolder;">
                    <th>S.No</th>
                    <th>Airline Name</th>
                    <th>Flight Name</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Depature Date</th>
                    <th>Depature Time</th>
                    <th>Arrival Date</th>
                    <th>Arrival Time</th>
                    <th>Ticket Cost (₹)</th>
                    <th>Total Seats</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let flight of response; let i=index"
                    [class.highlighter]="!flight.availability" [class.available]="flight.availability">
                    <td>{{i+1}}</td>
                    <td>{{flight.airline}}</td>
                    <td>{{flight.flightName}}</td>
                    <td>{{flight.startPlace}}</td>
                    <td>{{flight.endPlace}}</td>
                    <td>{{flight.startDate}}</td>
                    <td>{{flight.startTime}}</td>
                    <td>{{flight.endDate}}</td>
                    <td>{{flight.endTime}}</td>
                    <td>{{flight.price}}</td>
                    <td>{{flight.totalSeats}}</td>
                    <td *ngIf="flight.availability">Scheduled</td>
                    <td *ngIf="!flight.availability">Cancelled</td>
                    <td *ngIf="!flight.availability">
                        
                        <button mdbBtn size="sm" type="button" class="m-0" mdbWavesEffect 
                        [disabled]="!flight.availability"
                                [class.highlighterButton]="!flight.availability">NA</button></td>
                    <td *ngIf="flight.availability">
                        
                    <button mdbBtn size="sm" type="button" class="m-0" mdbWavesEffect 
                    [disabled]="!flight.availability"
                            [class.highlighterButton]="!flight.availability" (click)="selectedJourney(flight)">Book</button></td>
                </tr>

            </tbody>

        </table>
    </div>
</div>