#sect1 {  
    height: 600 px;  
    color: #fff;background-image: url("../../../../../assets/images/airline_sunset.jpg");  
    background-size: 100%;
    background-color: rgb(196, 67, 35);
    width: 100%;
    margin-top: -20px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px;
    height: 700px;    

}


.text-style{
    color :black;
    text-align: center;
    padding-top: 5.5%;
}

.text-style-new{
    color :black;
    text-align: center;
    padding-top: 0.5%;
}
