<!-- <b>Update the details for ticket booking </b>

<form [formGroup]="ticketDetails" (ngSubmit)="finalSubmit()">
<mat-card>
  <mat-form-field >
    <mat-label>User Name</mat-label>
    <input matInput type="text" formControlName="userName">
  </mat-form-field>
  <mat-form-field >
    <mat-label>email</mat-label>
    <input matInput type="text" formControlName="email">
  </mat-form-field>
  <mat-form-field >
    <mat-label>No of Passengers</mat-label>
    <input matInput type="number" formControlName="totalSeats"  [(ngModel)]="inputValue" (change)="onChangeEvent($event)">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Total cost</mat-label>
    <input readonly  matInput type="number" [(ngModel)]="totalCost" formControlName="totalCost">
  </mat-form-field>
<div>
  <mat-card>
    <b>Please provide the Passenger details </b>
    <form [formGroup]="passengerForm">
      <table class="table table-bordered" formArrayName="passengers">
        <tr>
          <th colspan="2">Add Multiple Quantity:</th>
          <th width="150px"><button type="button"
            [disabled] = "passengers().controls.length === inputValue" (click)="addPassengerNew()" class="btn btn-primary">Add More</button></th>
        </tr>
        <tr *ngFor="let passenger of passengers().controls; let i=index" [formGroupName]="i">
          <mat-form-field >
            <mat-label>Seat No</mat-label>
            <input matInput type="number" formControlName="seatNo">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
          <mat-form-field >
            <mat-label>Sex</mat-label>
            <mat-select formControlName="sex">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="others">Others</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Age</mat-label>
            <input matInput type="number" formControlName="age">
          </mat-form-field>
            <mat-radio-group formControlName="meal">
              <mat-radio-button value="veg" style ="padding-left: 2%;">Veg</mat-radio-button>
              <mat-radio-button value="nonveg" style ="padding-left: 2%;">Non Veg</mat-radio-button>
            </mat-radio-group>

        </tr>
      </table>
    </form>
</mat-card>
</div>
</mat-card> 

<span class="submit-button">
  <button mat-raised-button color="primary" type="submit" >Final Submit</button>
</span>
  
</form> -->

<div class="caption">
  <b>Update the details for ticket booking </b>
</div>


<form [formGroup]="ticketDetails" (ngSubmit)="finalSubmit()">
                <div class="form-group row">
                    <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput class="form-control" formControlName="userName"
                                placeholder="User Name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput class="form-control" formControlName="email"
                                placeholder="Email ID">
                        </div>
                    </div>		
                   <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput type="number" class="form-control" formControlName="totalSeats"
                                placeholder="No of Passengers" [(ngModel)]="inputValue" (change)="onChangeEvent($event)">
                        </div>
                    </div>	
                   <div class="col">
                        <div class="md-form mt-0">
                            <input readonly mdbInput type="number" class="form-control" formControlName="totalCost"
                                placeholder="Total Cost" [(ngModel)]="totalCost">
                        </div>
                    </div>						
                </div>
<div>				
  <div class="caption">
				<b>Please add the Passenger details </b>
      </div>
				<form [formGroup]="passengerForm">
      <table class="table table-bordered" formArrayName="passengers">
        <tr>
          <th style="text-align: center;" width="150px"><button type="button"
            [disabled] = "passengers().controls.length === inputValue" (click)="addPassengerNew()" class="btn btn-primary">Add Passenger</button></th>
        </tr>
        <tr *ngFor="let passenger of passengers().controls; let i=index" [formGroupName]="i">
		               <div class="form-group row">
                    <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput class="form-control" formControlName="seatNo"
                                placeholder="Seat No">
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput class="form-control" formControlName="name"
                                placeholder="Name">
                        </div>
                    </div>
                   <div class="col">
                        <div class="md-form mt-0">
                                <select class="browser-default custom-select" formControlName="sex">
                                    <option value="" selected disabled>Choose Gender</option>
                                    <option>Male</option>
									<option>Female</option>
									<option>Others</option>
                                </select>
                        </div>
                    </div>					
                   <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput type="number" class="form-control" formControlName="age"
                                placeholder="Age">
                        </div>
                    </div>	
                   <div class="col">
                    <mat-radio-group style="color: white;" formControlName="meal">
                      <mat-radio-button value="veg" style ="padding-left: 2%;">Veg</mat-radio-button>
                      <mat-radio-button value="nonveg" style ="padding-left: 2%;">Non Veg</mat-radio-button>
                    </mat-radio-group>
                    </div>						
                </div>
		</tr>
		     </table>
    </form>
</div>
<span class="submit-button">
  <button class="btn btn-primary" type="submit" >Final Submit</button>
</span>
  
</form>	