<!-- <div class="header">
    <nav class="navbar navbar-light bg-light">
        <div class="title">{{title}}</div>
        <div class="move-left">
            <a class="navbar-brand" routerLink="users/users">Home</a>
            <a class="navbar-brand" routerLink="admin/login">Admin Login</a>
            <a class="navbar-brand" routerLink="about">About</a>
            <a class="navbar-brand" routerLink="contactus">Contact</a>
        </div>
    </nav>
</div> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand > <a class="navbar-brand" routerLink="users/users">
        <img class="logo_img" src="../../../assets/images/airline_logo.webp" height="50" alt="">
    </a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li [routerLinkActive]="['active']" class="nav-item ">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="users/users"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="admin/login"><i class="fa fa-user"></i> Admin</a>
        </li>
       <li [routerLinkActive]="['active']" class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="about"><i class="fa fa-info"></i> About</a>
        </li>
        <li [routerLinkActive]="['active']" class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect routerLink="contactus"><i class="fa fa-phone"></i> Contact</a>
        </li>
  
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->