
<div class="myFormBody">
    <div class="myformContainer">
        <label style="text-align: center; font-size: x-large;">Add New Flight Schedule</label>
        <h3 *ngIf="isAdded" style="color: green; font-weight: 800;">Flight Scheduled</h3>
        <h3 *ngIf="isAlreadyAvailable" style="color: red; font-weight: 800;">Already Scheduled</h3>
        <!-- Horizontal material form -->
        <form [formGroup]="flightManageForm">
            <div style="margin-top: 10px;">
                <!-- Grid row -->
                <div class="form-group row">
                    <div class="col">
                        <div class="md-form mt-0">
                                <select class="browser-default custom-select" formControlName="airline">
                                    <option value="" selected disabled>Choose AirLine</option>
                                    <option *ngFor="let airline of airlineList" [ngValue]="airline.name">
                                        {{airline.name}}
                                    </option>
                                </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form mt-0">
                            <input mdbInput class="form-control" formControlName="flightName"
                                placeholder="Enter Flight Name">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                    <!-- <input mdbInput class="form-control" formControlName="startPlace" placeholder="Start Place"> -->
                    <select class="browser-default custom-select" formControlName="startPlace">
                        <option value="" selected disabled>Choose your start place</option>
                        <option *ngFor="let airport of airportList" [ngValue]="airport.airportName">
                            {{airport.airportName}}, {{airport.airportLocation}}
                        </option>
                    </select>                    
                    </div>
                    <div class="col">
                        <!-- <input mdbInput class="form-control" formControlName="endPlace" placeholder="End Place"> -->
                        <select class="browser-default custom-select" formControlName="endPlace">
                            <option value="" selected disabled>Choose your start place</option>
                            <option *ngFor="let airport of airportList" [ngValue]="airport.airportName">
                                {{airport.airportName}}, {{airport.airportLocation}}
                            </option>
                        </select>                         
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                    <input type="date" mdbInput class="form-control" formControlName="startDate" placeholder="Start Date">
                    </div>
                    <div class="col">
                    <input type="time" mdbInput class="form-control" formControlName="startTime" placeholder="Start Time">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                    <input type="date" mdbInput class="form-control" formControlName="endDate" placeholder="End Date">
                    </div>
                    <div class="col">
                    <input type="time" mdbInput class="form-control" formControlName="endTime" placeholder="End Time">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                    <input type="number" mdbInput class="form-control" formControlName="price" placeholder="Price">
                    </div>
                    <div class="col">
                    <input type="number" mdbInput class="form-control" formControlName="totalSeats" placeholder="Total Seats">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" mdbBtn color="primary" [disabled]="flightManageForm.invalid" (click)="SheduleFlight()">Submit</button>
                        <button id="reset_button" type="reset" mdbBtn color="primary">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
